:root {
    font-size: 15px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    z-index: -2;
}
.linea_navegador {
    background-image: url(../Images/navegador.jpg);
    position: sticky;
    top: 0;
    display: flex;
    align-items:stretch;
    justify-content: space-between;
    border: solid rgba(14, 14, 13, 0.952);
    border-style: inset;
    height: 7vh;
}
.navegador_principal{
    display: flex;
    align-items:flex-end;
    width: 35vw;      
}
.UNICO{
    display: flex;
    text-align:start;
    width: 10vw;
    color: rgba(254, 254, 252, 0.568);
    font-style: italic;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.LOGO{
    display: inline-flex;
}
.BOTON_CSS2{
    display: none;
}
header{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.TITULOS{
    color: aliceblue;
    inline-size: 10vh 10vw;
    text-align: center;
    font-size: 2rem;
    margin: 1vw;
}
.sub_titulo{
    color: antiquewhite;
    padding: 1.5rem;
}
.img_index_1{
    height: 35vw;
    width: 90vh;
    object-fit: contain;
}
main{
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    align-items: center;
}
.parrafo_secu_index{
    font-style:arial;
    color: azure;
    text-align:center;
    font-size: 2rem;
    inline-size: 30vw;
}
.IMG_secun{
    height: 50vh;
    width: 35vw;
}
.prueba{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
}
.UNO{
    display: flex;
    justify-content:space-around;
    width: 70vw;
    height: 35vh;
    padding-top: 1rem
}  
.texto{
    display: flex;
    align-self: center;
    color: aliceblue;
    text-align: center;
    font-size: 1.8rem;
    width: 20vw ;
    padding: 2rem;
}
.texto2{
    display: flex;
    align-self: center;
    color: aliceblue;
    text-align: center;
    font-size: 1.8rem;
    width: 20vw;
    padding: 2rem;
}
.texto3{
    display: flex;
    align-self: center;
    color: aliceblue;
    text-align: center;
    font-size: 1.8rem;
    width: 20vw;
    padding: 3rem;
}
.todo{
    display: flex;
    align-items: stretch;
    flex-direction:column;
    justify-content: center;
    align-content: center;
    width: 80%;
    height: 80%;
    padding: 2rem;
}
.UNICAIMG{
    display: flex;
    align-self: center;   
}
.CONT1{
    color:beige;
    display: flex;
    align-self: center; 
    width: 27vw;
    text-align: center;
    font-size: 1.5rem;
    padding: 1.5rem;
}
.NAVI{   
    color: aliceblue;
    font-style: italic;
    font-size: 1.2rem;
    margin: 2rem;
    padding-inline-start: 20%;
}
.foContac{
    display: flex;
    justify-content:flex-start;
    text-align: justify;
    padding-top:  1.2rem;
}
table {
    display: flex;
    justify-content: center;
    align-content: center;
    color: aliceblue;
    margin-top: 3rem;
    width: 80vh;
    height: 60vh;
    font-size: 2rem;
}

th{
    border-style: dotted;
    border-color: aqua;
    padding: 1rem;
    text-align: center;
}
td{
    text-align: center;
    border-style: double;
    border-color: aqua;
}
.fotos_beneficios {
    display: flex;
    flex-direction: column;
    width: 10vw;
}
.fotoOne {
    padding: 1rem;
}
.fotoTwo {
    padding: 1rem;
}
ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content:space-evenly;
    align-items: center;
    background-color: rgba(240, 248, 255, 0.479);
    width: 35vw;
    height: 18vh;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.primer_lista {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    color: aliceblue;
    font-style: oblique;
    padding-bottom: 2rem;
}
.segunda_lista {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2rem;
    color: aliceblue;
    font-style: oblique;
    padding-top: 2rem ;
}
footer{
    color: aliceblue;
}
.foSchedu{
    display: flex;
    margin-top: 2rem;
    padding-top: 2rem;
}

form{
    color:rgba(14, 14, 13, 0.952);
    display: flex;
    flex-direction: row-reverse;
    justify-content:space-evenly;
    align-items: center;
}
.datos {
    background-color: rgb(255, 255, 255);
    color: rgb(145, 118, 118);
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    border-color: black;
    border-style: dotted;
    width: 30vw;
    height: 35vh;
}
.bot_Input{
    display: flex;
    align-self: center;
    justify-content: center;
    margin: 1rem;
    width: 4vw;
    height: 4vh;
}
legend{
    background-color: aliceblue;
    color: black;
    font-size: 1.2rem;
    border-style: dotted;
    border-color: black;
}

.img_rompe{
    display: flex;
    justify-content: center;
    align-self: center;
}

iframe{
    padding: 2rem;
}

.final{
    background-image: url(../Images/gym_full.jpg);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction:column;
    align-items: center;
}
h3{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
}