.root {
    font-size: 15px;
}
* {
    color: rgb(37, 37, 35);
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
.linea_navegador {
    background-image: url(../Images/frase_style_2.jpg);
    background-position: center;
    position: sticky;
    top: 0;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    border: solid rgb(243, 10, 10);
    border-style:outset;
    height: 8vh;
    z-index: 3;
}
.navegador_principal {
    display: flex;
    align-items: flex-end;
    font-size: 1.5;
    font-style: italic;
    width: 35vw;
    z-index: 3;
}
.UNICO {
    display: flex;
    text-align: start;
    width: 10vw;
    color: rgba(255, 44, 44, 0.878);
}
.LOGO {
    display: inline-flex;
}
.img_index_1{
    display: none;
}
header {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background-image: url(../Images/gym_full.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 3rem;
}
.TITULOS {
    background-color: rgba(255, 255, 255, 0.721);
    inline-size: 10vh 10vw;
    font-size: 2rem;
    text-align: center;
    margin: 1vw;
}
.sub_titulo {
    background-color: rgba(255, 255, 255, 0.655);
    padding: 2rem;
}
.BOTON_CSS2 {
    background-color: rgba(240, 248, 255, 0.549);
    border-style: dashed;
    border-color: crimson;
    display: flex;
    font-size: 2rem;
}
main {
    background-image: url(../Images/pesas_cop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    z-index: -1;
    height: 50vh;
}
.parrafo_secu_index {
    background-color: rgba(255, 255, 255, 0.401);
    text-align: center;
    font-size: 2rem;
    inline-size: 25vw;
}
.IMG_secun {
    display: none;
}
.prueba{
    display: flex;
    background-color: rgba(240, 248, 255, 0.56);
    padding: 3rem;
    height: 50vh;    
}
.img_Tex{
    border-style:double;
}
.UNO{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.texto {
    font-size: 2rem;
    margin-top: 2rem;
    height: 25vh;
    width: 25vw;
}
.texto2 {
    width: 25vw;
    font-size: 2rem;
    margin-top: 2rem;
}
.texto3 {
    width: 25vw;
    font-size: 2rem;
    margin-top: 2rem;
}
.todo {
    display: flex;
    background-color: rgba(255, 255, 249, 0.458);
    align-items: stretch;
    flex-direction:;
    justify-content:space-around;
    align-content: center;
    width: 75%;
}
.UNICAIMG {
    display: flex;
    align-self: center; 
    width: 20vw;   
}
.CONT1 {
    display: flex;
    background-color: rgba(240, 248, 255, 0.706);
    align-self:center;
    width: 40vw;
    text-align: center;
    font-size: 1.5rem;
    padding: 2rem;
}
.NAVI {
    display: flex;
    align-self: self-end;
    font-size: 2rem;
    margin: 6rem;
}
table{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgba(180, 174, 174, 0.555);
    color: aliceblue;
    margin-top: 3rem;
    width: 80vh;
    height: 60vh;
    padding: 2rem;
    font-size: 2rem;
    border-style: dashed;
}
.fotos_beneficios{
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 50vw;
}
.fotoOne{
    padding-top: 2rem;
    z-index: 1;
}
.fotoTwo{
    padding-top: 2rem;
    z-index: 1;
}
ul{
    display: flex;
    flex-direction: column;
    background-color: rgba(197, 204, 215, 0.479);
    list-style-position:inside;
    width: 55vh;
    height: 40vh;
    text-align: center;
    font-size: 1.5rem;
    padding: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.primer_lista{
    width: 40vh;
    height: 90vh;
    margin-top: 3rem;
    padding-top: 2rem;
}
.segunda_lista{
    width: 25vw;
    height: 90vh;
    margin-top: 3rem;
    padding-top: 3rem;
}
footer {
    display:flex;
    justify-content:end;
    color: rgb(8, 8, 8);
}









/* hasta aca el STYLE2 */